.product-icon{
    width: 4em;
    margin: auto;
}
.Product{
    margin: 1em 1em 1em 1em;
    border-radius: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brend-color);
}
.active{
    background-image: url('/public/assets/fon/Bonbon.jpg');
    background-size: contain;
    /* background-color: var(--brend-color); */
} 

