:root {
  font-family: "Arsenal", sans-serif;
  --text-color: rgb(73, 46, 11);
}
body {
  margin: auto;
}
.fon {
  background-image: url("/public/fon/cover.jpg");
  background-size: cover;
}
.products{
  background-image: url('/public/fon/bg-1.jpg');
}
